* {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.new {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.new .mainHeading h1 {
  margin: 10px;
  text-align: center;
}

.new h1,
h2 {
  color: #01005d;
}

.filteroption {
  display: flex;
  justify-content: flex-end;
}

.new .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.new .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.new i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.new .todos {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.Done h3, .notDone h3 {
  color:#01005d;
}

@media screen and (max-width: 450px) {
  .app .input {
    width: 70vw;
  }
  .app .todos {
    width: 70vw;
  }
}

@media screen and (min-width: 900px) {
  .app .input {
    width: 50vw;
  }
  .app .todos {
    width: 50vw;
  }
  .filteroption, .subHeading, .todos {
    padding: 0px 20px;
  }
  .app .input {
    margin: 0px 20px;
    margin-top: 0.8em; 
  }
  .new .input input {
    width: 90%;
  }
}